<p>Hi App</p>
<!--<app-users></app-users>--> <!--  selector: 'app-users', -->
<!--<div class='app-users'></div>  --><!--  selector: '.app-users', -->
<div app-users ></div>  <!--  selector: '[app-users]', -->

<app-inc-component>
  <div >
    <p>------ng-content----------</p>
    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
      <option selected>Open this select menu</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>

  </div>
</app-inc-component>
<br/>

<table>
  <tr>
     <td>
      <label for="password">password</label>

      <input appPasswordLengthDetectorInput [DefaultValue]="'Default Value'"
         type="text" id="password" name="password" >
     </td>
  </tr>
</table>
<br/>

<p *appHideAfterDirective="5">    Hidsfdfdfdsfdsfds</p>
